service BCS-daemon /system/bin/connfwexe
    class main
    user root
    group system shell radio inet net_raw

service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw
